.App {
  z-index: 10;
  display: flex; /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  width: 95%;
  align-items: center;
  height: 100%;
}

@media (min-width: 1100px) {
  .buttons-div {
    flex-direction: column;
  }
  .all-buttons-div {
    flex-direction: column;
  }
  .all-buttons-div {
    width: 40%;
  }
  .App {
    flex-direction: row;
  }
}
@media (max-width: 1100px) {
  .buttons-div {
    flex-direction: column;
  }
  .all-buttons-div {
    flex-direction: column;
  }
  .all-buttons-div {
    width: 100%;
  }
  .App {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  @media (max-height: 700px) {
    h1 {
      font-size: 40px;
    }
  }

  .title-div {
    width: 95%;
  }
}

@media (max-width: 480px) {
  @media (min-height: 700px) {
    h1 {
      font-size: 70px;
    }
  }
  .title-div {
    width: 95%;
  }
}
@media (min-width: 481px) {
  h1 {
    font-size: 120px;
  }
  .title-div {
    width: 40%;
  }
}

.title-div {
  margin-left: 15px;
}
.buttons-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.all-buttons-div {
  display: flex;
}

.image-background {
  width: 100%;
  height: 100%;
  background-image: url("lolins.webp");
  background-size: cover;
  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  z-index: -100;
  position: absolute;
}

.main {
  width: 100vw;
  height: 100vh;
}
@media (min-width: 481px) {
  .aws-btn {
    --button-default-height: 74px;
    --button-default-font-size: 23px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 50px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #00b8c4;
    --button-primary-color-dark: #d0b400;
    --button-primary-color-light: #ffe11d;
    --button-primary-color-hover: #00a0ab;
    --button-primary-border: 1px solid #ffe11d;
    --button-secondary-color: #ee3253;
    --button-secondary-color-dark: #d0b400;
    --button-secondary-color-light: #ffe11d;
    --button-secondary-color-hover: #ec1a3f;
    --button-secondary-border: 1px solid #ffe11d;
    --button-anchor-color: #293b83;
    --button-anchor-color-dark: #772250;
    --button-anchor-color-light: #b33377;
    --button-anchor-color-hover: #293b83;
    --button-anchor-border: 1px solid #9f2d6a;
    margin: 20px !important;
  }
}
@media (max-width: 481px) {
  .aws-btn {
    --button-default-height: 50px;
    --button-default-font-size: 13px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 15px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #00b8c4;
    --button-primary-color-dark: #d0b400;
    --button-primary-color-light: #ffe11d;
    --button-primary-color-hover: #00a0ab;
    --button-primary-border: 1px solid #ffe11d;
    --button-secondary-color: #ee3253;
    --button-secondary-color-dark: #d0b400;
    --button-secondary-color-light: #ffe11d;
    --button-secondary-color-hover: #ec1a3f;
    --button-secondary-border: 1px solid #ffe11d;
    --button-anchor-color: #293b83;
    --button-anchor-color-dark: #772250;
    --button-anchor-color-light: #b33377;
    --button-anchor-color-hover: #293b83;
    --button-anchor-border: 1px solid #9f2d6a;
    margin: 20px !important;
  }
}
